<html>
<head>
    <% include ../partials/header %>
</head>
<body>
<input name="id" value="<%= student.id %>"><br/>
<input name="name" value="<%= student.name %>"><br/>
<input name="age" value="<%= student.age %>"><br/>
<input name="course" value="<%= student.course %>"><br/>

</body>

</html>