<html>
<head>
    <% include ../partials/header %>
</head>
<body>

hi here ejs
<div id="testjquery"> click me</div>

<script>
    $(function(){
        $("#testjquery").click(function(){
            $("#testjquery").hide();
        });
    })

</script>


</body>

</html>